@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
 
body {
     font-family: 'Noto Sans JP', sans-serif;
     font-size: 120%;
    　font-weight:200;
}
h1{
font-size:40px;
color: white;
background-color: #000000;  
}
table {
width: 80%;
table-layout: fixed;
}
table th.title {
   width: 1.8em;   /* セルの横幅：1.8文字分 */
}


.navbar-brand {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 300%;
    font-weight:200;
}

/*ナビバーのメニューフォント*/
#my-navbar {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 160%;
    font-weight:100;
    
}

header.jumbotron {
      background: url("img/IMG_0253.JPG");
      background-position: center center;
      background-size: cover;
      color: #fff;
    }
    
    header .container {
      margin-top: 13%;
    }
    
    header .midashi-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;
    }
    
    header .midashi-btn:hover {
      color: #0089ff;
      border-color: #0089ff;
    }
    
    .navbar-form {
      padding-right: 30px;
    }
