@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
 
body {
     font-family: 'Noto Sans JP', sans-serif;
     font-size: 120%;
    　font-weight:200;
    
}
h1{
font-size:40px;
color: white;
background-color: #000000;  
}
table.table2 {
width: 100%;
table-layout: fixed;
}

table.table3 {
width: 100%;
table-layout: auto;
font-size: 120%;
}

tbody.table_title {
    font-size: 100%;
    font-weight:300;
}
.panel-group {
    width: 90%;
    margin: auto;
}



table th.title {
   width: 1.8em;   /* セルの横幅：1.8文字分 */
}


.navbar-brand {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 300%;
    font-weight:200;
}

/*ナビバーのメニューフォント*/
#my-navbar {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 160%;
    font-weight:100;
    
}

header.jumbotron {
      background: url("img/IMG_0253.JPG");
      background-position: center center;
      background-size: cover;
      color: #fff;
    }
    
    header .container {
      margin-top: 13%;
    }
    
    header .midashi-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;
    }
    
    header .midashi-btn:hover {
      color: #0089ff;
      border-color: #0089ff;
    }
    
    .navbar-form {
      padding-right: 30px;
    }


.table-th1 {
    width: 10%;
}

.table-th2 {
    width: 10%;
}

.table-th3 {
    width: 50%;
}
/*index1*/
.mySlider1 {
    width: 80%;
    margin: auto;
    
}
.school {
    width: 70%;
    display: block;
 margin-left: auto;
 margin-right: auto;
}

.body1 {
    background-color: black;
}
/*index2*/
.table-responsive {
    width: 90%;
    margin: auto;
}

.setting {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


